<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
   
    <title>Simon Says</title>
</head>
<body>

        <div class="simon">
            <div class="face"></div>
            <div class="head"></div>
            <div class="body"></div>
            <div class="left-arm"></div>
            <div class="right-arm"></div>
            <div class="right-eye"></div>
            <div class="left-eye"></div>
        </div>
           
        
<iframe
class="simon-bot"
allow="microphone;"
width="350"
height="430"
src="https://console.dialogflow.com/api-client/demo/embedded/e2c5d913-8224-4886-a4f8-71d9a78ce821">
</iframe>
  
        
        
        
       
    
</body>
</html>